<div class="container mt-5">
  <h1 class="main-title">Twitter Clone</h1>
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
      <label for="email" class="form-label">Email</label>
      <input id="email" formControlName="email" class="form-control" type="email" />
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
        Enter a valid email.
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="password" class="form-label">Password</label>
      <input id="password" formControlName="password" class="form-control" type="password" />
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
        Password is required.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>