<div class="tweet card mb-3">
  <div class="card-body">
    <p class="tweet-author text-cyan">{{ tweet.user.name }}:</p>
    <p class="tweet-content text-purple">{{ tweet.content }}</p>
    <div class="tweet-actions">
      <button class="btn btn-light" (click)="likeTweet()">Like ({{ tweet.likes }})</button>
      <button class="btn btn-light" (click)="commentMode = !commentMode">Comment ({{ tweet.comments.length }})</button>
      <button class="btn btn-light" (click)="retweetTweet()">Retweet ({{ tweet.retweets }})</button>
    </div>

    <!-- Comment input -->
    <div *ngIf="commentMode" class="mt-2">
      <textarea [(ngModel)]="newComment" placeholder="Write a comment..." class="form-control"></textarea>
      <button class="btn btn-primary mt-2" (click)="commentTweet()">Post Comment</button>
    </div>

    <!-- Display comments -->
    <div *ngIf="tweet.comments.length > 0" class="mt-3">
      <h4 class="text-purple">Comments:</h4>
      <ul class="list-unstyled">
        <li *ngFor="let comment of tweet.comments; let i = index" class="mb-2">
          <p class="text-cyan">{{ comment.user.name }}:</p>
          <p class="tweet-content text-purple">{{ comment.content }}</p>
          <button class="btn btn-danger btn-sm" (click)="deleteComment(i)">Delete</button>
        </li>
      </ul>
    </div>
  </div>
</div>