<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand main-title" href="#">Twitter Clone</a>
  <div id="navbarNav" class="d-flex">
    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item me-3">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Logout</a>
      </li>
      <li class="nav-item me-3">
        <a class="nav-link" routerLink="/feed" routerLinkActive="active">Feed</a>
      </li>
      <li class="nav-item me-3">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-5">
  <div *ngIf="!editMode">
    <div class="card">
      <div class="card-body">
        <img [src]="user.profilePicture" alt="Profile Picture" class="profile-pic rounded-circle">
        <h2 class="card-title text-cyan">{{ user.name }}</h2>
        <p class="card-text text-purple">{{ user.bio }}</p>
        <button class="btn btn-primary" (click)="toggleEditMode()">Edit Profile</button>
      </div>
    </div>
  </div>

  <div *ngIf="editMode">
    <form (ngSubmit)="saveProfile()" class="mt-4">
      <div class="mb-3">
        <label for="profilePicture" class="form-label">Profile Picture:</label>
        <input type="file" (change)="handleFileInput($event)" id="profilePicture" class="form-control">
        <img *ngIf="user.profilePicture" [src]="user.profilePicture" alt="Profile Picture Preview" class="preview-pic mt-2 rounded-circle">
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" [(ngModel)]="user.name" name="name" id="name" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="bio" class="form-label">Bio:</label>
        <textarea [(ngModel)]="user.bio" name="bio" id="bio" class="form-control" rows="3" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-secondary ms-2" (click)="cancelChanges()">Cancel</button>
    </form>
  </div>
</div>